main {
    min-height: calc(100vh - 56px - 56px);
}

div#spectacle{
    width:1110px;
    margin-left: auto;
    margin-right:auto;
}

div#spectacles .spectacle img {
    width: 350px;
    height: 350px;
}

div#spectacles .spectacle {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
